//========================//========================
// core reset
//========================//========================
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

//========================//========================
// base styles
//========================//========================

.form-section {
	width: 300px;
	margin: 0 auto;
	input {
		color: red;
		visibility: visible;
	}
}